.block1 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  border-bottom: 1px solid whitesmoke;
}
.block2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.mainRating {
  padding: 10px;
  background: lightgray;
  border-radius: 15px;
  margin-top: 25px;
}

.star {
  width: 50px;
  position: relative;
  justify-content: center;
  display: flex;
  margin: auto;
  top: 50px;
}
